:global {
  .ant-card-body {
    padding: 0 !important;
  }
}

.favouritesCatCard {
  .favouriteImage {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .actions {
    padding: 1em 2em;
  }
}
