.catViewRow {
  //margin: 0 !important;
  padding: 2em;
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); // Ensures responsive layout
  gap: 16px; // Adjust spacing between grid items
}

.loadMoreButtonContainer {
  display: flex;
  justify-content: center;
}

.loadMoreButton {
  width: 100%;
  height: 40px;
  max-width: 1200px;
  margin-left: 2em;
  margin-right: 2em;
}
