.loadMoreButtonContainer {
  display: flex;
  justify-content: center;
}

.loadMoreButton {
  width: 100%;
  height: 40px;
  max-width: 1600px;
  margin-left: 2em;
  margin-right: 2em;
  box-shadow: none;
}

.catViewContainer {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  height: 83vh;
  margin-left: auto;
  margin-right: auto;

  .titlesContainer {
    margin-top: 2em;
    margin-left: 2em;
    h2 {
      margin: 0;
    }

    h3 {
      margin: 0;
    }
  }
}

.autoSizerContainer {
  flex: 1 0 auto;
  margin: 2em 0;
  width: 100%;

  @media (min-width: 600px) {
    padding-left: 2em;
  }

  & > div {
    display: flex;
    width: unset !important;
    height: unset !important;
  }

  & > div > div {
    margin-left: auto;
    margin-right: auto;
  }
}
