.catDetailsModal {
  :global(.ant-modal-content) {
    height: 90vh;
    overflow: auto;

    :global(.ant-image) {
      width: 100%;

      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
      }
    }

    .breedInfoTitle {
      margin-top: 1em;
    }
  }

  .imageSkeleton {
    width: 100% !important;
    height: 500px !important;
  }

  .catDetailsModalTitleContainer {
    display: flex;
    gap: 1em;

    button {
      margin-top: 0.2em;
    }
  }
}
